<section>
    <div class="success">
        <h2>Order placed successfully</h2>
        <h4 class="text-dark">Go to your <a class="text-primary" href="/orders">Orders</a></h4>
    </div>
</section>

<style>
    .success{
        margin-left: 400px;
        margin-top: 150px;
    }
</style>
