<div class="container">

    <div class="col-md-6 mt-5">
        <div></div>
        <h3 class="pt-5 text-secondary" >Your account</h3>
    </div>
    <div>

        <div class="pt-5 pl-5">
            <h5>account Name : {{userinfo.Name}}</h5>
            <h5>Email Address : {{userinfo.Email}}</h5>

            <a class="font-weight-bold text-primay" href="/orders">Your orders</a>

        </div>

    </div>
</div>

<style>
    .container{
        width: 500px;
        height: 300px;
        background-color: aquamarine;
    }
</style>

